<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1> Usuario </h1>
	<p> Bienvenido al registro de la carrera </p>
	<form action='/user' method='post'>
		<input type="text" name="nombre">
		<input type="text" name="licenciatura">
		<input type="text" name="edad">
		<input type="submit" value="enviar">
	</form>
</body>
</html>
